<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/side-nav.css" type="text/css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Information Systems", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown @ViewBag.statusDegrees">
                        <a href="#" class="dropdown-toggle @ViewBag.statusDegrees" data-toggle="dropdown">Degrees <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("BSIS", "DegreeInfo", "About", new { degree = "BSIS" }, null)</li>
                            <li>@Html.ActionLink("MISM", "DegreeInfo", "About", new { degree = "MISM" }, null)</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">About</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <!-- BS Info Sys Dropdown Menu -->
                                <li class="dropdown @ViewBag.statusBSinfo">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">BS Info Sys <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a @Html.ActionLink("Rankings", "Rankings", "About")</a>
                                        </li>
                                        <li>
                                            <a @Html.ActionLink("Awards", "Awards", "About")</a>
                                        </li>
                                        <li>
                                            <a @Html.ActionLink("Mission Statement", "MissionStatement", "About")</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">External Links</li>
                                        <li>
                                            <a href="https://marriottschool.byu.edu/bsis/news/">News</a>
                                        </li>
                                        <li>
                                            <a href="https://marriottschool.byu.edu/bsis/media">Why IS?</a>
                                        </li>
                                    </ul>

                                    <!-- Academic Dropdown Menu -->
                                <li class="dropdown @ViewBag.statusAcademics">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a @Html.ActionLink("Academic Overview", "AcademicOverview", "About")</a>
                                        </li>
                                        <li>
                                            <a @Html.ActionLink("Faculty", "Faculty", "About")</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">External Links</li>
                                        <li>
                                            <a href="http://learningoutcomes.byu.edu/index.php#college=R_N1Siri1gP5&department=la8ZWsa-Qs7W&program=3VYHbRv-_fOr">Learning Outcomes</a>
                                        </li>
                                        <li>
                                            <a href="http://registrar.byu.edu/catalog/2014-2015ucat/departments/InfoSystems/ISMajor.php">Course Description</a>
                                        </li>
                                        <li>
                                            <a href="https://marriottschool.byu.edu/advisement">Advisement Center</a>
                                        </li>
                                    </ul>

                                    <!-- Careers Dropdown Menu -->
                                <li class="dropdown @ViewBag.statusCareers">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Careers <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a @Html.ActionLink("Careers Overview", "CareersOverview", "About")</a>
                                        </li>
                                        <li>
                                            <a @Html.ActionLink("Internships", "Internships", "About")</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">External Links</li>
                                        <li>
                                            <a href="http://bridge.byu.edu/">Placement</a>
                                        </li>
                                        <li>
                                            <a href="https://marriottschool.byu.edu/recruiter">Recruiters</a>
                                        </li>
                                    </ul>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <p></p>
                @Html.Raw(ViewBag.breadCrumb)
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cascadia Development</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
