@using Student_FAQ_BYUIS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
              



    <style type="text/css">
        form {
            display: table;
        }

        p {
            display: table-row;
        }

        label {
            display: table-cell;
        }

        input {
            display: table-cell;
        }
    </style>


    @Html.AntiForgeryToken()
   
    <div class="container">
        <form>
            <label for="whatever">Email</label>
            @Html.TextBox("Email", null)<br /><br />
            <label for="whatever">Password</label>
            @Html.TextBox("Password", null)<br /><br />
           
            <button type="submit">Login</button>
        </form>
    </div>
                
                
                
                <br />


                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
              
            }
        </section>
    </div>
   
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}