@model Student_FAQ_BYUIS.Models.DegreeCoordinatorQuestions

@{
    ViewBag.Title = "Degrees";
    Layout = "~/Views/Shared/_LayoutSideNav.cshtml";
}
<main>
    <link href="~/Content/degrees-view.css" type="text/css" rel="stylesheet" />
</main>

<div class="jumbotron">
    <div class="form-deader"></div>
    <form class="form-horizontal  landing-jumbo-content">
        <fieldset>
            <div class="row center-content">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1>@Html.DisplayFor(model => model.Degrees.Name)</h1>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <p><br /></p>
                <img src="@Html.DisplayFor(model => model.Coordinators.Image)" height="250" alt="Coordinator Profile" />
            </div>
            <div class="col-sm-7">
                <h2>@Html.DisplayFor(model => model.Coordinators.Name)  </h2>
                <h3>@Html.DisplayFor(model => model.Degrees.Abbrev) Coordinator  </h3>
                <p>
                    <br />
                    @Html.DisplayFor(model => model.Coordinators.Title)<br />
                    <br />
                    <b>Office: </b>@Html.DisplayFor(model => model.Coordinators.OfficeAddress)<br />
                    <b>PhD Education: </b>@Html.DisplayFor(model => model.Coordinators.Education_PhD)<br />
                    <b>Masters Education: </b>@Html.DisplayFor(model => model.Coordinators.Education_Masters)<br />
                    <b>Bachelors Education: </b>@Html.DisplayFor(model => model.Coordinators.Education_Bachelors)<br />
                </p>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <h1>Frequently Askey Questions</h1>

        <!-- List all FAQ from database -->
        @foreach (var item in Model.Questions)
        {


            <h3>@Html.DisplayFor(Modelitem => item.Question)</h3>
            <p>@Html.DisplayFor(Modelitem => item.Answer)</p>

            using (Html.BeginForm("UpdateAnswer", "About"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="">
                            <textarea class="form-control text-box single-line" id="Question_Answer" name="Question.Answer" type="text" value=""></textarea>
                            @Html.ValidationMessageFor(model => model.Question.Answer, "", new { @class = "text-danger" })
                            <input type="hidden" value="@item.QuestionID" name="Question.QuestionID" />
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.Question.DegreeID, new { value = "1" })
                    @Html.HiddenFor(Modelitem => item.QuestionID)

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="reset" value="Cancel" class="btn btn-default" />
                            <input type="submit" value="Respond" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        }

        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Ask a new question</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-offset-1">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="">
                                            <textarea class="form-control text-box single-line" id="Question_Question" name="Question.Question" type="text" value=""></textarea>
                                            @Html.ValidationMessageFor(model => model.Question.Question, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @Html.HiddenFor(model => model.Question.DegreeID, new { value="1"} )

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="reset" value="Cancel" class="btn btn-default" />
                                            <input type="submit" value="Ask" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>