
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutSideNav.cshtml";
}

<h2>FAQ</h2>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div id="content-div">
            <h1>Frequently Asked Questions</h1>

            <h3>Application Questions</h3>

            <ul>
                <li><a href="#a">How do I apply?</a></li>
                <li><a href="#b">What GPA do I need to apply?</a></li>
                <li><a href="#c">Other than grades, what goes into the application?</a></li>
                <li><a href="#d">May I apply&nbsp;concurrently to the information systems&nbsp;program or accounting program and the management program?</a></li>
            </ul>

            <h3>Prerequisite Questions</h3>

            <ul>
                <li><a href="#e">What are the prerequisites for the Information Systems program?</a></li>
                <li><a href="#f">What generals will be covered with prerequisite&nbsp;classes?</a></li>
                <li><a href="#g">Can&nbsp;I take all of the prerequisite classes in the same semester?&nbsp;</a></li>
                <li><a href="#h">What factors should I consider in deciding to retake a prerequisite class?</a></li>
                <li><a href="#i">What should&nbsp;I do if I cannot get into a class that I need? (E.g. The class is full or the registration system does not allow me to register for it.)&nbsp;</a></li>
            </ul>

            <h3>Internship Questions</h3>

            <ul>
                <li><a href="#j">What should I do if I want to do an internship during a fall/winter semester? Is there a way to defer?</a></li>
                <li><a href="#k">How can I receive academic credit for completing an internship?</a></li>
            </ul>

            <h3>Transfer Questions</h3>

            <ul>
                <li><a href="#l">What transfer classes count?</a></li>
            </ul>

            <h3>Major/Minor Questions</h3>

            <ul>
                <li><a href="#m">What do I need to do if I want to declare a minor either in business or another subject?</a></li>
                <li><a href="#n">What do I do if I want to double major?</a></li>
            </ul>

            <p>&nbsp;</p>

            <h2>Questions</h2>

            <hr>
            <p>
                <br>
                <a id="a" name="a"></a>
            </p>

            <h3>How do I apply?</h3>

            <p>To apply, please complete the online application found at&nbsp;<u><a href="https://marriottschool.byu.edu/apply/bsis/">https://marriottschool.byu.edu/apply/bsis/</a>.</u></p>

            <p><a id="b" name="b"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>What GPA do I need apply?</h3>

            <p>A minimum 3.0 overall GPA is required to apply, though it does not guarantee acceptance. A minimum 3.0 prerequisite GPA is also required, but again, does not guarantee acceptance.&nbsp;</p>

            <p><a id="c" name="c"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>Other than grades, what goes into the application?</h3>

            <p>In addition to grades, the application requires a current resume, as well as a 500-word essay.</p>

            <p><a id="d" name="d"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal" action="/Degrees/FAQ" method="post">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>May I apply concurrently to the information systems program or accounting program and the management program?</h3>

            <p>Yes, you may apply concurrently to all undergraduate programs at the Marriott School. However, you may only enter into one of these programs.&nbsp;</p>

            <p>The information systems and accounting programs admit students only for the fall semester, and the management program will be doing the same beginning fall of 2016. Please be aware of deadlines and which requirements are needed to apply to each program. Visit&nbsp;<a href="https://marriottschool.byu.edu"><u>https://marriottschool.byu.edu</u></a> for more information.&nbsp;</p>

            <p><a id="e" name="e"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>What are the prerequisites for the Information Systems junior core?</h3>

            <p>The prerequisite classes for the information systems junior core are as follows:</p>

            <ul>
                <li>IS 201 (IS 110 must be taken before or concurrently with IS 201)</li>
                <li>ACC 200</li>
                <li>FIN 201</li>
                <li>BUS M 241</li>
                <li>IS 303 (or CS 142)</li>
            </ul>

            <p>IS 201 and IS 303 (CS 142) require a grade of B or better.</p>

            <p><a id="f" name="f"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>What generals will be covered with prerequisite classes?</h3>

            <p>Although only accounting 200 is a prerequisite for the Information Systems program, the following premanagement courses will count toward general education credit:</p>

            <ul>
                <li>ACC&nbsp;200 GE: Quantitative Reasoning</li>
                <li>STAT 121 GE: Languages of Learning/Quantitative Reasoning</li>
                <li>MCOM 320 GE: Advanced Writing</li>
                <li>ECON 110 GE: Social Science/ Partial AHTG</li>
            </ul>

            <p>You will be required to take ECON 110, MCOM 320 and STAT 121 once admitted to the program. Completion of these courses before beginning the Management Core or MISM is highly recommended. If possible, it is helpful to have these courses complete before entering the junior core.</p>

            <p><a id="g" name="g"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>Can I take all of the prerequisite classes in the same semester?</h3>

            <p>It is possible to take all of the prerequisite classes in one semester, though it is strongly discouraged due to the extensive time and effort required for each course.&nbsp;</p>

            <p><a id="h" name="h"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>What factors should I consider in deciding to retake a prerequisite class?</h3>

            <p>Please consider the following:</p>

            <ul>
                <li>Any repeated prerequisite courses will be discounted by .3 (e.g. A to A-) in the application process.</li>
                <li>If a prerequisite course is retaken, the most recent grade is the one considered during the application process. Thus, it is important that you improve your grade the second time you take the class.</li>
                <li>Premanagement courses may be repeated only once.</li>
            </ul>

            <p><a id="i" name="i"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>What should I do if I cannot get into a class that I need? (E.g. The class is full or the registration system does not allow me to register for it.)</h3>

            <p>Classes may appear full online before the first day of the semester. As the semester begins, students drop classes, and seats become available. Be diligent in checking online for seats to become available. You may also contact the academic advisor in 789 TNRB to ask permission to be added to the class.</p>

            <p><a id="j" name="j"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>What should I do if I want to do an internship during a fall/winter semester? Is there a way to defer?</h3>

            <p>Yes, to defer for an internship, mission, or other reason, you must apply for a deferment. Deferment forms are available online at&nbsp;<u><a href="https://marriottschool.byu.edu/forms/advisement/undgrd">https://marriottschool.byu.edu/forms/advisement/undgrd</a>.</u> Aside from a deferment, once accepted into the Marriott School, you must be enrolled in a three-credit hour class for every semester that you are in the program (excluding spring/summer terms).</p>

            <p><a id="k" name="k"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>How can I receive academic credit for completing an internship?</h3>

            <p>If you have not yet been admitted to the program, you may sign up for BUS M 199R. In this class, premanagement students may earn credit for doing an internship. Students who are already in the program should take BUS M 496R for internship credit. Internships must be approved for credit by the Marriott School Internship Office in 460 TNRB. Please visit&nbsp;<a href="https://marriottschool.byu.edu/internships/"><u>https://marriottschool.byu.edu/internships</u></a>&nbsp;for further information.</p>

            <p><a id="l" name="l"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>What transfer classes count?</h3>

            <p><span class="mediumtext">You can view information regarding transfer classes at&nbsp;<u><a href="https://marriottschool.byu.edu/advisement/classes/transfer-information/">https://marriottschool.byu.edu/advisement/classes/transfer-information</a>.</u> This site will help you navigate the process of inquiring about transfer classes. It includes a link to a list of previously evaluated transfer classes from various colleges. For classes that have not yet been evaluated by the Marriott School, please email a course syllabus, your name and BYU ID number to msm_transfer@byu.edu.</span></p>

            <p><a id="m" name="m"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>What do I need to do if I want to declare a minor either in business or another subject?</h3>

            <p>To add a minor, please obtain a minor clearance form from the College Advisement Center that offers the minor program. Once the form is filled out and signed, take the form to the College Advisement Center of your primary major.</p>

            <p><a id="n" name="n"></a></p>

            <!-- Reply -->
            <div class="row">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    @Html.TextArea("Response", new { type = "text", id = "inputResponse", @class = "form-control", style = "min-height: 50px;", placeholder = "Write your response here.", required = true })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <h3>What do I do if I want to double major?</h3>

            <p>A double major must be approved by the director of the Undergraduate Management Program, the Dean, and your secondary major's college. Please complete a Double Major form in the Marriott School Advisement Center (460 TNRB).</p>

            <p>&nbsp;</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 well">
        <form class="form-horizontal">
            <fieldset>
                <legend>Submit a New Question</legend>
                <!-- Name -->
                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        @Html.TextBox("Name", "", new { type = "text", id = "inputName", @class = "form-control", placeholder = "Full Name", required = true })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMessage" class="col-lg-2 control-label">Message</label>
                    <div class="col-lg-10">
                        @Html.TextArea("Question", new { type = "text", id = "inputQuestion", @class = "form-control", style = "min-height: 100px;", placeholder = "Write question here.", required = true })
                    </div>
                </div>
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>